<footer style="display: flex; justify-content:center; align-items:center;">
    <button type="button" onclick="changecolourwhite()" style="width: 150px;height: 30px; margin-top: 30px; margin-bottom: 30px;margin-right: 30px; cursor: pointer;">
        Lightmode
    </button>
    <button type="button" onclick="changecolourdark()" style="margin-top: 30px;height: 30px;width: 150px; margin-bottom: 30px;margin-left: 30px; cursor: pointer;">
        Darkmode
    </button>
</footer>